.grid:after {
	content:"";
	display: block;
	clear: both;
}

[class*='col-'] {
	float: left;
	padding-left: 1rem;
	padding-right: 1rem;
}

/*used if you ever want a grid with no padding in the columns*/
.grid.wo-padding [class*='col-'] {
	padding: 0;
}

/*used if you ever want a grid with slightly less padding*/
.grid.less-padding [class*='col-'] {
	padding-left: 1rem;
	padding-right: 1rem;
}

.col-2of12 {
	width: 16.66%;
}

.col-3of12 {
	width: 25%;
}

.col-4of12 {
	width: 33.33%;
}

.col-5of12 {
	width: 41.66%;
}

.col-6of12 {
	width: 50%;
}

.col-8of12 {
	width: 66.66%;
}

.col-12of12 {
	width: 100%;
}

.hide-lg {
	display: none;
}

/*
---
MIN-WIDTH MEDIA QUERIES
---
*/
@media (min-width: 72em) {
	/*centered container is fixed after a certain point*/
	.container-centered {
		width: 62rem;
	}
}

/*
---
MAX-WIDTH MEDIA QUERIES
---
*/
@media (max-width: 84em) {
	/*slightly less padding on smaller screens. prevents h2 from becoming more than 1 line*/
	[class*='col-'] {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (max-width: 72em) {
	.col-3of12 {
		width: 50%;
	}

	.col-4of12 {
		width: 50%;
	}

	.col-8of12 {
		width: 100%;
	}

	.hide-md {
		display: none;
	}

	.visible-md {
		display: initial;
	}
	
	#predictiveSearchResults .col-3of12 {
		width: 25%;
	}

	h1 {
		font-size: 1.7rem;
	}

	/*asides become full-width*/
	aside {
		width: 100%;
		padding-bottom: 0;
	}

	/*add a slight margin for about us board*/
	.board-latestreleases {
		margin-top: 2rem;
	}

	/*collapse product content into a single column faster*/
	.product-info .col-6of12 {
		width: 100%;
	}

	.product-description h2 {
	  margin-top: 2rem;
	}

	.product-review {
		margin-top: 6.4rem;
	}

	.board-aboutus-profile p {
		width: 100%;
	}

	.content-container {
		height: 34rem;
	}
}

@media (max-width: 54em) {
	.col-3of12 {
		width: 50%;
	}

	.col-4of12 {
		width: 100%;
	}

	.col-6of12 {
		width: 100%;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.breadcrumb, #feature-board , #team-board, #player-section, #product-section, 
	#latest-section, #search-results-section, #contact-us-section, #citation-section {
		width: 98%;
	}

	.main-section {
		width: 90%;
	}

	.board-league2 {
		margin-top: 2rem;
	}

	.mancity, .manutd, .chelsea, .arsenal {
		width: 100%;
	}

	.manutd, .chelsea, .arsenal {
		margin-top: 0.2rem;
	}

	.product-thumbnail {
		width: auto;
	}

	.latest-product .col-3of12 {
		width: 100%;
	}
}

@media (max-width: 32em) {
	/*use smaller images for mobile*/
	#company-banner {
		background-image: url("../img/homepage-banner-x1.jpg");
		padding: 3rem;
	}

	#company-banner h1 {
		font-size: 2.1rem;
	  	border-bottom: 1px solid #fff;
	}

	#company-banner h2 {
		font-size: 0.9rem;
		margin-top: 1.3rem;
		line-height: 1.6;
	}

	#company-banner .button-style-header {
		font-size: 0.9rem;
		margin-top: 1rem;
		padding: .7rem 1.5rem;
	}

	/*fix page banner height for mobile*/
	.hero-banner {
  		background-image: url("../img/bg-banner-x1.jpg");
		height: 9rem;
		padding: 2.2rem;
	}

	.findplayer-banner {
  		background-image: url("../img/findplayer-banner-x1.jpg");
		height: 9rem;
		padding: 2.2rem;
	}

	.hero-banner h1, .findplayer-banner h1 {
		font-size: 1.4rem;
		line-height: 1.2;
	}

	/*use smaller images for mobile*/
	.board-findplayer {
	 	background-image: url('../img/findplayer-x1.jpg');
	}

	.board-latestreleases {
		background-image: url('../img/latest-releases-x1.jpg');
	}

	.player-info {
	 	background-image: url(../img/sergio-aguero-x1.jpg);
	}

	/*shrink team banner size for mobile*/
	.team-banner-container {
		height: 12rem;
	}

	.banner-mancity, .banner-manutd, 
	.banner-chelsea, .banner-arsenal {
		height: 12em;
	}

	/*resize board box height for mobile*/

	.board-findplayer, .board-latestreleases, .board-aboutus,
	.board-aboutus-home, .board-news, .board-standard {
  		height: 21rem;
		padding-top: 0.4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 3rem;
	}

	.board-lightGray {
		padding-top: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.board-aboutus {
	 	height: 28rem;
	}

	/*add padding to purchase-complete box in thank-you page*/
	.purchase-complete {
	  padding-bottom: 34rem;
	}

	.promotional-link p {
	  margin-top: 0.4rem;
	}
}